<div class='row mt-5 animated fadeInUpBig'>
    <div class='col'>
        {{#if appointment}}
        <table class="table  table-hover">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Physician</th>
                    <th scope="col">Reason</th>
                </tr>
            </thead>
            <tbody>

                {{#each appointment}}
                <tr>
                    <td>{{this.appointmentDate}}</td>
                    <td>{{this.appointmentTime}}</td>
                    <td>{{this.physicianName}}</td>
                    <td>{{this.comments}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <div class='col'>
            <div class="alert alert-secondary" role="alert">
                No appointments are currently scheduled.
            </div>
        </div>
        {{/if}}
    </div>
</div>