{{!-- Chart Rendering --}}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    google.charts.load("current", { packages: ["timeline"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        var container = document.getElementById('cal');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'string', id: 'Room' });
        dataTable.addColumn({ type: 'string', id: 'Name' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });

        let allAppts = []

        $.ajax({
            url: `/api/allappointments`,
            method: 'GET',
        }).then(function (response) {
            console.log(response)

            for (i = 0; i < response.length; i++) {
                var singleAppointment = []
                singleAppointment.push(response[i].physicianName)
                singleAppointment.push(response[i].lastName + ", " + response[i].firstName)
                let startHour = parseFloat(response[i].appointmentTime[0] + response[i].appointmentTime[1])
                let startMinute = parseFloat(response[i].appointmentTime[3] + response[i].appointmentTime[4])
                let endHour = startHour + 1
                let endMinute = startMinute + 1
                singleAppointment.push(new Date(0, 0, 0, startHour, startMinute, 0))
                singleAppointment.push(new Date(0, 0, 0, endHour, endMinute, 0))
                allAppts.push(singleAppointment);
            }

            console.log(allAppts)
            dataTable.addRows(allAppts);

            var options = {
                timeline: { colorByRowLabel: true }
            };

            chart.draw(dataTable, options);
        });
    }

</script>

<div class='row mt-5 animated fadeInUpBig'>
    <div class='col' style="overflow: scroll">
        <div id="cal" style="height: auto;"></div>
    </div>
</div>

{{!-- Table Rendering --}}
<div class='row mt-5 animated fadeInUpBig'>
    <div class='col' style="max-width: 100%; overflow: scroll">
        {{#if appointment}}
        <table class="table  table-hover">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Patient</th>
                    <th scope="col">Physician</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Email Notice</th>
                </tr>
            </thead>
            <tbody>

                {{#each appointment}}
                <tr>
                    <td>{{this.appointmentDate}}</td>
                    <td>{{this.appointmentTime}}</td>
                    <td>{{this.lastName}}, {{this.firstName}}</td>
                    <td>{{this.physicianName}}</td>
                    <td>{{this.comments}}</td>
                    <td>{{this.notificationEmail}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <div class='col'>
            <div class="alert alert-secondary" role="alert">
                No appointments are currently scheduled.
            </div>
        </div>
        {{/if}}
    </div>
</div>