{{#each patient}}

<div class='row'>
    <div class='col'>
        <div class='card'>

            {{!-- Header --}}
            <form method="POST" action='/api/editpatient'>
                <div class='card-header'>
                    <strong>
                        Edit Patient
                    </strong>
                </div>
                {{!-- Body --}}
                <div class='card-body'>
                    <div class='row'>
                        <div class="form-group col-md-6 col-sm-12" style="display: none">
                            <label for="patientId">ID</label>
                            <input type="text" class="form-control" name="patientId" value="{{this.id}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" name="firstName" value="{{this.firstName}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" name="lastName" value="{{this.lastName}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="birthDate">Birthday</label>
                            <input type="date" class="form-control" name="birthDate" value="{{this.birthDate}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="gender">Gender</label>
                            <input readonly type="text" class="form-control" name="gender" value="{{this.gender}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="ssn">SSN</label>
                            <input type="text" class="form-control" name="ssn" value="{{this.ssn}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="photoURL">Photo URL</label>
                            <input type="text" class="form-control" name="photoURL" value="{{this.photoURL}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="primaryPhysicianName">Primary Physician</label>
                            <input type="text" class="form-control" name="primaryPhysicianName"
                                value="{{this.primaryPhysicianName}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="phoneNumber">Phone Number</label>
                            <input type="text" class="form-control" name="phoneNumber" value="{{this.phoneNumber}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="email" value="{{this.email}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="emergencyContactName">Emergency Contact Name</label>
                            <input type="text" class="form-control" name="emergencyContactName"
                                value="{{this.emergencyContactName}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="emergencyContactNumber">Emergency Contact Number</label>
                            <input type="text" class="form-control" name="emergencyContactNumber"
                                value="{{this.emergencyContactNumber}}">
                        </div>
                    </div>
                </div>

                {{!-- Footer --}}
                <div class='card-footer text-right'>
                    <div id='deletePatientButton' data-patientIdToDelete="{{this.id}}" class="btn btn-danger">
                        Delete Patient</div>
                    <div id='cancelButton' class="btn btn-secondary">Cancel and Return</div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
        </div>
        </form>

    </div>
</div>

{{/each}}

{{!-- Scripts --}}
<script src="/js/editPatient.js"></script>