<h1>Patient Plus!</h1>

<p>Manage patients with this app</p>


<ul>
    {{#each quotes}}
    <li>
        <p><span class="label">Patient ID:</span> {{this.patient}}</p>
        <p><span class="label">Contact Info:</span> {{this.info}}</p>
        <p><span class="label">Patient Description:</span> {{this.description}}</p>
        <p><span class="label">Patient Social Security Number:</span> {{this.ssn}}</p>

        <button data-id="{{this.id}}" class="delquote">Delete</button>

        <a href="/{{this.id}}">Update this quote</a>
    </li>
    {{/each}}
</ul>

<h2>Edit a patient</h2>

<form class="create-form">

    <div class="form-group">
        <label for="auth">Patient:</label>
        <input type="text" id="auth" name="author">
    </div>

    <div class="form-group">
        <label for="quo">Edit:</label>
        <textarea id="quo" name="quote" rows="8" cols="40"></textarea>
    </div>

    <button type="submit">Edit Patient Information:</button>
</form>