{{#each snapshot}}

<div class='row'>
    <div class='col'>
        <div class='card'>

            {{!-- Header --}}
            <form method="POST" action='/api/editsnapshot'>
                <div class='card-header'>
                    <strong>
                        Edit Snapshot
                    </strong>
                </div>
                {{!-- Body --}}
                <div class='card-body'>
                    <div class='row'>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="snapshotId">Snapshot ID</label>
                            <input readonly type="text" class="form-control" name="snapshotId" value="{{this.id}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="patientId">Patient ID</label>
                            <input readonly type="text" class="form-control" name="patientId"
                                value="{{this.patientId}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="snapshotDate">Date</label>
                            <input type="date" class="form-control" name="snapshotDate" value="{{this.snapshotDate}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="physicianName">Performing Physician</label>
                            <input readonly type="text" class="form-control" name="physicianName"
                                value="{{this.physicianName}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="pulse">Pulse</label>
                            <input type="number" class="form-control" name="pulse" value="{{this.pulse}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="temperature">Temperature</label>
                            <input type="number" step="0.1" class="form-control" name="temperature"
                                value="{{this.temperature}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="weightValue">Weight (Pounds)</label>
                            <input type="number" step="0.1" class="form-control" name="weightValue"
                                value="{{this.weightValue}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="heightValue">Height (Inches)</label>
                            <input type="number" class="form-control" name="heightValue" value="{{this.heightValue}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="isDiabetic">Diabetic Status</label>
                            <input readonly type="text" class="form-control" name="isDiabetic"
                                value="{{this.isDiabetic}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="systolicBloodPressure">Systolic Blood Pressure</label>
                            <input type="number" class="form-control" name="systolicBloodPressure"
                                value="{{this.systolicBloodPressure}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="diastolicBloodPressure">Diastolic Blood Pressure</label>
                            <input type="number" class="form-control" name="diastolicBloodPressure"
                                value="{{this.diastolicBloodPressure}}">
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label for="comments">Comments</label>
                            <textarea type="text" class="form-control" name="comments"></textarea value="{{this.comments}}">
        </div>
                    </div>
                </div>

                {{!-- Footer --}}
                <div class='card-footer text-right'>
                    <div id='deleteSnapshotButton' data-snapshotIdToDelete="{{this.id}}" class="btn btn-danger">Delete Snapshot</div>
                    <div id='cancelButton' class="btn btn-secondary" >Cancel and Return</div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
        </div>
        </form>

    </div>
</div>

{{/each}}

{{!-- Scripts --}}
<script src="/js/editSnapshot.js"></script>