{{!-- Patient Profile Navbar --}}
<div id='profileNavbarHolder'></div>

{{#each patient}}

<div class='row'>
    <div class='col-lg-4 col-md-12 animated fadeInUpBig'>

        <div class="card p-5 mb-3">
            {{!-- Patient Name and Photo --}}
            <div id='patientNameAndPhoto' class="text-center">
                <h3>{{this.firstName}} {{this.lastName}}</h3>
                <br>
                <img src={{this.photoURL}} style='height: 150px; width: 150px; border-radius: 100%'>
            </div>

            {{!-- Page Break --}}
            <br><br>

            {{!-- Link for Adding New Snapshot --}}
            <div>
                <a href='/page_addsnapshot/{{this.id}}' class='btn btn-success text-center' style="width: 100%">Add a
                    New
                    Snapshot</a>
            </div>
            <br>

            {{!-- Link for Scheduling an Appointment--}}
            <div>
                <a href='/page_addappointment/{{this.id}}' class='btn btn-info text-center' style="width: 100%; color: white">Schedule an Appointment</a>
            </div>
            <br>

            {{!-- Edit Patient Info Button --}}
            <div>
                <div data-patientId={{this.id}} id='editPatientButton' class='btn btn-primary' style="width: 100%">Edit
                    Patient
                    Info
                </div>
            </div>

        </div>

        {{!-- QR Link Card --}}
        <div id='patientQRLinkCard' class='card mb-3' data-patientId='{{this.id}}'>
            <div class='card-header'><strong>QR Link</strong></div>
            <div class='card-body text-center'>
                <canvas id="canvas"></canvas>
                <script src="/js/qrcode.min.js"></script>
                {{!-- Code extracted from npm node-qrcode package at https://www.npmjs.com/package/qrcode under MIT license--}}
                <script>
                    var url = "http://patientplus.herokuapp.com/page_patientinformation/" + $('#patientQRLinkCard').attr('data-patientId')
                    QRCode.toCanvas(document.getElementById('canvas'), url, function (error) {
                        if (error) console.error(error)
                        console.log('success!');
                    })
                </script>
            </div>
        </div>

    </div>

    <div class='col-lg-8 col-md-12 animated fadeInUpBig'>

        {{!-- Personal Info Card --}}
        <div id='patientPersonalInfoCard' class='card mb-3'>
            <div class='card-header'><strong>Personal Info</strong></div>
            <div class='card-body'>
                <table class='table table-sm table-borderless' style="margin-bottom: 0px">
                    <tr>
                        <th>
                            Birthday:
                        </th>
                        <td>
                            {{this.birthDate}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Gender:
                        </th>
                        <td>
                            {{this.gender}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            SSN:
                        </th>
                        <td>
                            {{this.ssn}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Primary Physician:
                        </th>
                        <td>
                            {{this.primaryPhysicianName}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            UUID:
                        </th>
                        <td>
                            {{this.uuid}}
                        </td>
                    </tr>
                </table>
            </div>

        </div>

        {{!-- Contact Info Card --}}
        <div id='patientContactInfoCard' class='card mb-3'>
            <div class='card-header'><strong>Contact Info</strong></div>
            <div class='card-body'>
                <table class='table table-sm table-borderless' style="margin-bottom: 0px">
                    <tr>
                        <th>
                            Phone Number:
                        </th>
                        <td>
                            {{this.phoneNumber}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Email:
                        </th>
                        <td>
                            {{this.email}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Emergency Contact Name:
                        </th>
                        <td>
                            {{this.emergencyContactName}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Emergency Contact Number:
                        </th>
                        <td>
                            {{this.emergencyContactNumber}}
                        </td>
                    </tr>
                </table>
            </div>

        </div>

    </div>
</div>
</div>

{{/each}}

{{!-- Scripts --}}
<script src="/js/patientInformation.js"></script>
<script src="/js/renderProfileNavbar.js"></script>