{{!-- Patient Profile Navbar --}}
<div id='profileNavbarHolder'></div>

<div class='row'>

    {{#each snapshot}}

    <div class='col-sm-6 col-xs-12'>
        {{!-- Snapshot Information Card --}}
        <div data-snapshotId={{this.id}} class='snapshot-card card animated fadeInUpBig'>
            <div class='card-header'><strong>{{this.snapshotDate}}</strong></div>
            <div class='card-body'>
                Performing Physician: {{this.physicianName}} <br />
                Pulse: {{this.pulse}} <br />
                Weight: {{this.weightValue}} lbs <br />
                Height: {{this.heightValue}}" <br />
                Body Temperature: {{this.temperature}} <br />
                Diabetic Status: {{this.isDiabetic}} <br />
                Blood Pressure: {{this.systolicBloodPressure}} / {{this.diastolicBloodPressure}} <br />
                Comments: {{this.comments}} <br />
            </div>
        </div>
        <br>
    </div>

    {{/each}}

</div>

<script src="/js/patientSnapshots.js"></script>
<script src="/js/renderProfileNavbar.js"></script>