    {{#each patient}}
    <li>
        <p><span class="label">Patient Social Security Number: </span> {{this.ssn}}</p>
        <p><span class="label">Patient ID: </span> {{this.patient}}</p>
        <p><span class="label">Patient Descripition: </span> {{this.description}}</p>
        <p><span class="label">Contact Info: </span> {{this.phone}}</p>

        <button data-id="{{this.id}}" class="delpatient">Delete</button>

        <a href="/{{this.id}}">Update this Patients info</a>
    </li>
    {{/each}}
