{{!-- Patient Profile Navbar --}}
<div id='profileNavbarHolder'></div>

<div class='row animated fadeInUpBig'>
    {{#if snapshot}}
    {{#each snapshot}}

    <div class='col-md-6 col-sm-12'>
        {{!-- Snapshot Information Card --}}
        <div data-snapshotId={{this.id}} class='snapshot-card card animated fadeInUpBig'>
            <div class='card-header'><strong>{{this.snapshotDate}}</strong></div>
            <div class='card-body'>
                <table class='table table-sm table-borderless' style="margin-bottom: 0px">
                    <tr>
                        <td>
                            Performing Physician:
                        </td>
                        <td>
                            {{this.physicianName}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Pulse:
                        </td>
                        <td>
                            {{this.pulse}} bpm
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Weight:
                        </td>
                        <td>
                            {{this.weightValue}} lbs
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Height:
                        </td>
                        <td>
                            {{this.heightValue}} inches
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Body Temperature:
                        </td>
                        <td>
                            {{this.temperature}} °F
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Diabetic Status:
                        </td>
                        <td>
                            {{this.isDiabetic}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Blood Pressure:
                        </td>
                        <td>
                            {{this.systolicBloodPressure}} / {{this.diastolicBloodPressure}} mmHg
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
                <br>
                <div><strong>Comments:</strong></div>
                {{#if this.comments}}
                <div>{{this.comments}}</div>
                {{else}}
                No comments for this snapshot.
                {{/if}}
            </div>
        </div>
        <br>
    </div>

    {{/each}}
    {{else}}
    <div class='col-12'>
        <div class="alert alert-secondary" role="alert">
            No snapshots are currently on file for this patient.
        </div>
    </div>
    {{/if}}
</div>

<script src="/js/patientSnapshots.js"></script>
<script src="/js/renderProfileNavbar.js"></script>
<script src="/js/renderPatientNameBar.js"></script>